@import "tailwindcss";

body{
    background-color: black;
    color: white;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px; /* Width for vertical scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d62f2f; /* Scrollbar thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b02222; /* Darker color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #010101 #000000;
}
